<div class="footer">
	<div class="footer-grid">
		<div class="footer-logo-col">
			<a href="/"><img src="/images/jaguar-logo.png" alt="footer logo" width="70px"></a>
			<p>Simple webapp with AWS Cognito</p>
			<ul class="social-icons">
				<li>
					<a class="icon icon-github-mark-small" href="https://github.com/luuductrung1234/s3951127-cognito-demo"
						target="_blank" rel="noopener noreferrer"><span class="visually-hidden">s3951127-cognito-demo on
							GitHub</span></a>
				</li>
			</ul>
		</div>
		<div class="footer-nav-col-1">
			<h2 class="footer-nav-heading">Jaguar</h2>
			<ul class="footer-nav-list">
				<li class="footer-nav-item"><a href="#">About</a></li>
				<li class="footer-nav-item"><a href="#">Blog</a></li>
			</ul>
		</div>
		<div class="footer-nav-col-2">
			<h2 class="footer-nav-heading">Support</h2>
			<ul class="footer-nav-list">
				<li class="footer-nav-item"><a href="#">How to use</a></li>
				<li class="footer-nav-item"><a href="#">Architecture</a></li>
				<li class="footer-nav-item"><a href="#">Deployment</a></li>
			</ul>
		</div>
		<div class="footer-nav-col-3">
			<h2 class="footer-nav-heading">Developers</h2>
			<ul class="footer-nav-list">
				<li class="footer-nav-item"><a href="#">luuductrung1234</a></li>
				<li class="footer-nav-item"><a href="#">AmazingEnergy team</a></li>
			</ul>
		</div>
		<div class="footer-nav-col-4">
			<h2 class="footer-nav-heading">Other projects</h2>
			<ul class="footer-nav-list">
				<li class="footer-nav-item"><a href="#">Kodiak</a></li>
				<li class="footer-nav-item"><a href="#">Dev-roadmap</a></li>
				<li class="footer-nav-item"><a href="#">POS-4-Asowell</a></li>
			</ul>
		</div>
		<div class="footer-jaguar">
			<span class="footer-logo-text">Cognito Demo</span>
			<span class="footer-copyright">@2024 by Thomas Luu</span>
		</div>
	</div>
</div>
</body>

</html>