<%- include('includes/head.ejs') %>
	</head>

	<body>
		<%- include('includes/nav.ejs') %>
			<main style="height: 70%;">
				<h1>
					<%= errorMessage %>
				</h1>
			</main>
			<%- include('includes/end.ejs') %>