<form action="/add-item" method="POST">
  <input type="hidden" name="productId" value="<%= product.id %>">
  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="goTo" value="<%= goTo ? goTo : '/products' %>">
  <% if(typeof(text) == "undefined") { %>
  <button class="my-btn" type="submit">Add to Cart</button>
  <% } else { %>
  <button class="my-btn" type="submit"><%= text %></button>
  <% } %>
</form>