<% if(status === 'new') { %>
<span class="badge bg-primary"><%= status.toUpperCase() %></span>
<% } %>
<% if(status === 'cancelled') { %>
<span class="badge bg-warning text-dark"><%= status.toUpperCase() %></span>
<% } %>
<% if(status === 'completed') { %>
<span class="badge bg-success"><%= status.toUpperCase() %></span>
<% } %>